@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400&family=Libre+Baskerville:wght@400;700&family=Lobster&family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {

  font-family: "Roboto", sans-serif, Arial, Helvetica;
  color: #1c1d1f;
 
}
* a {
  text-decoration: none;
}

/* --------- NAV BAR -------- */
.nav-container {
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-height: 100px;
  overflow: scroll;
}
.full-nav {
  margin: 0 auto;
  width: 98%;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
}
.logo {
  display: inline-block;
  max-width: 100px;
}
.logo > img {
  max-width: 8%;
  min-width: 100px;
}

.flex {
  display: flex;
  align-items: center;
}
.icons-n-btns {
  padding-left: 0;
  list-style: none;
  gap: 8px;
  align-items: center;
}
.nav-link {
  color: #000;
  font-size: 0.875rem;
}
.nav-link:hover {
  color: #8600e0;
}
.nav-btns,
.languages-btn,
.courses-btn {
  border: 1px solid #000;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 10px 16px;
}
.languages-btn {
  padding: 3px 6px;
}
.logIn-btn,
.languages-btn,
.courses-btn {
  background-color: #fff;
  color: #000;
}
.signUp-btn {
  color: #fff;
  background-color: #000;
}
.logIn-btn:hover,
.languages-btn:hover,
.courses-btn:hover {
  background: #f7f9fa;
}
.cart-link {
  padding: 10px;
}
/* ----first tooltip---- */
.first-tooltip-main {
  position: relative;
  display: inline-block;
}
.first-tooltip-main .first-tooltiptext {
  display: none;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute; /* Position the tooltip */
  z-index: 1;
  top: 250%;
  left: 70%;
  margin-left: -60px;
}
.first-tooltip-main:hover .first-tooltiptext {
  display: inline-block;
}

/* two right toolitps */
.right-tooltip {
  position: relative;
  display: inline-block;
}

.right-tooltip .r-tooltiptext {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 250%;
  right: 50%;
  margin-right: -60px;
}
.right-tooltip:hover .r-tooltiptext {
  display: inline-block;
}
/* //////////////// */

/* ----Search Input--- */
.input-control {
  flex-grow: 1;
  border: 1px solid #000;
  height: 50px;
  border-radius: 30px;
  max-width: 550px;
  background: #f7f9fa;
  padding-left: 10px;
}
.input-control > input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
}
.grey-icon {
  color: gray;
}
/* --------- HERO SECTION ---------*/
.hero {
  background-color: #000;
  background: url(/images/hero-background.jpg);
  background-size: 100% cover;
  height: 60vh;
  margin: 0 16px;
/*   background-color: #f7f9fa;
  background: url(./images/hero-background.jpg);
  background-size: 100% cover;
  height: 60vh;
  margin: 0 16px; */
}
.container {
  border: none;
  width: 95%;
  margin: 0 auto;
  padding-top: 55px;
}
.content-header {
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 35%;
  font-family: "Libre Baskerville", serif;
  padding: 10px 18px;
  margin: 0 0 0 10px;
}
.hero-h1 {
  font-size: 2rem;
}
.hero-h2 {
  font-size: 1rem;
  font-weight: 200;
}

/* ------- section one ----- */
.heading {
  font-family: "Libre Baskerville", serif;
  width: 75%;
}
.courses-h2 {
  font-size: 1.875rem;
  margin-bottom: 0.6em;
}
.courses-h3 {
  font-weight: 100;
  margin-bottom: 0.6em;
}
.sub-h3 {
  font-size: 1.45rem;
  margin-top: 1em;
  padding-left: 2em;
}
.sub-h4 {
  font-weight: 400;
  margin-top: 0.7em;
  padding: 0 2.5em;
  line-height: 1.8em;
  font-size: 1em;
  margin-bottom: 2em;
}
.heading2 .courses-btn {
  border: 1px solid #000;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 10px 16px;
  margin-left: 3em;
}
.heading2 {
  width: 65%;
  margin: 3em 0;
}
.cards-in-slide {
  border: 1px solid #d1d7dc;
  margin-top: 2em;
}
.courses-tabs {
  display: flex;
  gap: 20px;
}
.links {
  color: #6a6f73;
  font-weight: 700;
}
.links:hover {
  color: #000;
}
.cards-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2em;
  margin-bottom: 2em;
}
 .cards-wrap h3 {
  text-transform: capitalize;
  font-size: 1em;
  margin-bottom: 0.5em;
}
.cards-wrap p {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: capitalize;
  color: #6c6a73;
}
.card-currency p {
  font-size: 1em;
  color: black;
}
.card-currency span {
  font-size: 0.8em;
  color: #6a6f73;
  text-decoration: line-through;
}
.star-rating {
  display: flex;
  flex-direction: row;
}
.checked {
  color: orange;
} 
.mid-courses{
margin: 2em 0 4em 0;
background-color: #f7f9fa;
padding: 2em 0;
}
.courses-demand{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;

}
.courses-demand p{
  font-size: .8em;
  color: black;
  font-weight: 700;
}
.course-cards-two h2{
  padding-left: 1em;
  margin: 2em 0 1em 0;
}
.other-categories{
  margin: 3em 0;
  padding: 0 1.5em;
}
.other-categories h3 {
  font-size: 1.5em;
  color: black;
  font-weight: 700;
}
.other-card-categories{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
.card-categories{
  /* Add shadows to create the "card" effect */
  
  margin:1em ;
}

/* On mouse-over, add a deeper shadow */


/* Add some padding inside the card container */
.card-container h4 {
  font-size: 1em;
  text-align: left;
  line-height: 2em;
  padding-left: 1em;
 
}
.instructor{
  margin: 4em 0;
  padding: 0 7em;
}
.instructor-container{
  display: flex;
  justify-content: space-between;
  gap: 6em;
}
.instructor-container h3{
  font-size: 1.8em;
  text-align: left;
  padding:0 3.4em;
}
.instructor-container p{
  font-size: 1em;
  text-align: left;
  padding: 1em 6em;
  line-height: 1.5em;
}
.category-btn{
  border: 1px solid #000;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 10px 16px;
  margin-left: 7em;
  background-color: #000;
  color: white;
}
.featured{
  background-color: #f7f9fa;
 padding: 3em 2em;

  
  
}
.featured h3{
  font-size: 1.4em;
  text-align: left;
  margin: 1em 0;
}
.category-course{
  display: flex;
  flex-direction: row;
  gap: 9em;

}

.category-course h3{
  font-size: 1em;
  text-align: left;
}
.course-tab p{
  font-size: .8em;
  text-align: left;
  color: #6a6f73;
}
.course-tab{
  margin-bottom: 3em;
}
.link{
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  margin: 1em 0 ;
  font-weight: 700;
  
  
}
.trusted{
  margin: 2em 0 4em 0;
background-color: #f7f9fa;
padding: 3em 0;
}
.trusted h3{
  font-size: 1.4em;
  text-align: center;
  margin: 1em 0;
}
.trusted p{
  font-size: 1em;
  text-align: center;
}
.business{
  margin: 4em 0;
  padding: 0 7em;
}
.business-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 6em;
}
.business-container span{
  font-size: 2.5em;
  color: #8600e0;
}
.business-container p{
  font-size: 1em;
  text-align: left;
  padding: 1em 6em;
  line-height: 1.5em;
}
.business-container img {
  margin-left: 6em;
}
footer{
  background-color: #1c1d1f;
  color: #fff;
  padding: 2em 2em;
}
.footer-container-1{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer-links{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 gap: 15em;
}
.footer-tab{
  display: flex;
  flex-direction: column;


}
.footer-link{
  color: #fff;
  margin: .4em 0;
  font-size: .8em;
  font-weight: 400;
}
.footer-link:hover{
  color: #fff;
  text-decoration: underline;
}
.footer-container-2{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 3em ;
}
.footer-logo img{
  width: 10%;
}
.footer-date{
  color: #fff;
  margin: .4em 0;
  font-size: .8em;
  font-weight: 400;
}
.language-btn{
  border: 1px solid white;
  background-color: #1c1d1f00;
  color: #fff;
  padding: 1em 2em;
}
